.container{
    background-color:
    
}

.container{
    display: flex;
    
    
}

.card{
    
    float: left;
}

 

.card{
  margin-right: 60px;
    margin-left: 60px;
}

body{
    background-color: darksalmon;
}

