body{
    
    
    background: #f2f2f2;
    font-family: cursive;
    
}


.comentarios{
    margin top: 24px 0;
   
}

.form_comentarios .textarea{
    width: 100%;
    height: 84px;
    max-width: 100%;
    min-width: 100%;
    min-height: 84px;
    max-height: 300px;
    padding: 10px;
    font-family: cursive;
    line-height: 30px;
    border: 1px solid #ab65d1;
    margin-bottom: 20px;
}
.form_comentarios .btn btn-danger{
    background: #4b65d1;
    font-family: cursive;
    color: #fff;
    margin-bottom: 20px;
}