body{background-color: aqua;
    background-image: url(993.jpg);
    background-size: cover;  
background-repeat: no-repeat ;
    background-attachment: fixed;
     
    
     
}  






